.bannerContainer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 3rem 0 0 0;

}

.bannerContainer__banner__mySwiper {
  width: 100%;
  height: 100%;
}

.bannerContainer__banner__SwiperSlide {
  background: rgb(255, 255, 255);
  background-position: center;
  width: 100%;
  height: 100%;

}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
