.bransContainer {
  /* background-color: rgb(5, 5, 5); */
  /* background-image: url("../../public/assets/backgraund-img1.jpg") ; */
  background: linear-gradient(0deg, rgba(26, 118, 209, 0.5), rgba(26, 118, 209, 0.5)), url("../../public/assets/backgraund-img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-top: 5%;
  /* height: 300px;
  margin-top: 200px; */
}

.bransContainer__title {
  text-align: center;
  color: white;
  font-size: 26px;

}

.bransContainer__brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 200px;

}

.bransContainer__brand__circle {
  display: flex;
  /* background-color: rgb(255, 249, 249);
  border-radius: 50%; */
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  /* box-shadow: 3px 1px 4px -1px rgb(255, 255, 255); */
}

@media (max-width: 820px) {

  .bransContainer__brands {
    gap: 100px;
  }
}

