.navBarContainer {
  padding-top: 30px;
}

.navBarContainer__logoInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 3rem;
  padding-bottom: 4rem;
}


.navBarContainer__options {
  background-color: #3595f5;
  color: rgb(255, 255, 255) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  width: 70%;
  height: 50px;
  margin-bottom: 10px;
}

.navBarContainer__options1 {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.navBarContainer__optionsRedes {
  display: flex;
  gap: 20px;
  border-left: 1px solid #fff;
  padding-left: 10px;
  padding-right: 20px;
}

.navBarContainer__banner {
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px;

}

.navBarContainer__banner__mySwiper {
  width: 100%;
  height: 100%;

}


.navBarContainer__banner__SwiperSlide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

}

.SwiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.navBarContainer__option2 {
  display: none;
}

.navBarContainer__opt {
  display: none;
}



