
.ProductDetailContainer__mainConteiner {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 100px;
  padding-bottom: 10rem;

}

.ProductDetailContainer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2) ;
}

.ProductDetailContainer__description {

  text-align: start;
  width: 50%;
  height: 80%;
}

.ProductDetailContainer__description__tag {
  opacity: 0.99;
}

.ProductDetailContainer__description p {
  opacity: 0.5;
}

@media (max-width: 800px) {

  .ProductDetailContainer__info img {

    width: 400px;
    height: 350px;
  }
}
@media (max-width: 490px) {

  .ProductDetailContainer__info img {

    width: 300px;
    height: 250px;
  }

  .ProductDetailContainer__info {

    gap: 50px;

  }
}
