.main2 {
  background-color: rgb(249, 249, 249);
  padding-bottom: 100px;
}

.productsContainer__title {
  padding-top: 10%;
  font-size: 14px;
  color: #000000;
}

.productsContainer__products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  padding-top: 90px;
  justify-content: center;
  gap: 100px;
  margin: auto;
}

.productsContainer__products p {

  opacity: 0.9;
}

.productsContainer {
  text-align: center;
}

  .productsContainer__product__cart{
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
    width: 400px;
    height: 100%;
    transition: all 200ms;
  }


  .productsContainer__product__cart:hover {

    transform: scale(1.1);
  }

  .pading__heareIcon {
    padding-top: 50px;
  }


  .productsContainer__title2  {
    font-size: 22px;
    padding-top: 60px;
  }



  .product__button2 {
    color: #ffffff;
    background-color: #429efa;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: all 200ms;

  }

  .product__button2:hover{
    transform: scale(1.1);
    color: #ffffff;
    background-color: #429efa;
  }

  @media (max-width: 426px){

    .productsContainer__product__cart {
      transition: none;
      padding: 0rem 3rem;

    }
    .productsContainer__product__cart:hover{
      transform: none;

    }

    .productsContainer__title {
      font-size: 12px;

    }

    .productsContainer__product__cart h1 {
      font-size: 18px;
    }



  }









