.productsGlobalContainer > h1 {
  text-align: center;
}

.productsWrapper {
  display: flex;
  padding: 0 0 0 5em;
}

.brandContainer {
  margin: 2em 0 0;
}

.brandTitle {
  pointer-events: none;
}

.brandTitle > h3 {
  color: #3595f5;
  margin: 0 0 0.6em;
  text-transform: uppercase;
  width: 100%;
}

.brandList {
  width: 100%;
  margin: 0 2em 0 0;
  list-style: none;
  text-transform: capitalize;
}

.brandListItem {
  padding: 0.2em 0;

  transition: all 0.2s linear;
}

.brandListItem:hover {
  color: #3595f5;
}

.inputBrand {
  appearance: none;
  -webkit-appearance: none;
}

.productsContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;

  width: 80%;
  margin: 0 auto;
  gap: 2rem;
  padding: 0 2rem 2rem;
  text-align: center;

  overflow-x: hidden;
  scrollbar-width: none;
  overscroll-behavior-inline: contain;

  scroll-snap-type: inline mandatory;
}

.productsContainer::-webkit-scrollbar {
  display: none;
}

.productsContainer > * {
  scroll-padding-inline: 3rem;
}

.productsItem {
  display: grid;
  grid-template-rows: min-content;
  /* gap: 2rem; */
  /* padding: 2rem; */
}

.productImage {
  inline-size: 100%;
  object-fit: contain;
}

.productsContainer__btn {
  position: absolute;

  width: 1%;
  padding: 0;

  background-color: transparent;
  color: #727272;
  outline: none;
  border: none;
  font-size: 4em;

  cursor: pointer;
}

.productsContainer__btn:nth-child(1) {
  top: 50%;
  left: 13%;
}

.productsContainer__btn:nth-child(n+2) {
  left: auto;
  top: 50%;
  right: 5%;
}

@media screen and (max-width: 768px) {
  .brandTitle > h3 {
    padding: 0.5em 0.7em;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
  }

  .brandList {
    display: none;
    position: fixed;
    background: rgb(53, 149, 245, 0.9);
    color: #fff;
    top: 0;
    padding: 2em;
    height: 100vh;
  }

  .brandListItem {
    font-size: 1.4em;
    padding: 2em 0;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

/* .brandTitle ~ input:checked ~ .brandList { */
/*   display: block; */
/*   height: 100%; */
/* } */
/**/
/**/
/* @media screen and (min-width: 768px) { */
/*   .brandContainer { */
/*     display: flex; */
/*     width: 100%; */
/*   } */
/**/
/*   .brandTitle { */
/*     pointer-events: none; */
/*   } */
/**/
/*   .brandTitle > h3 { */
/*     border: none; */
/*   } */
/**/
/*   .brandList { */
/*     display: flex; */
/*     width: 100%; */
/*   } */
/**/
/*   .productsContainer { */
/*     display: grid; */
/*     grid-auto-flow: column; */
/*     grid-auto-columns: 25%; */
/**/
/*     width: 100vw; */
/*     height: 100%; */
/*   } */
/* } */
/**/
/* .productsItem { */
/*   width: 90%; */
/*   margin-top: 0.5em; */
/**/
/*   text-align: center; */
/* } */
/**/
/* .productImage { */
/*   object-fit: contain; */
/*   width: 100%; */
/*   height: 100%; */
/* } */
