.productsGlobalContainer > h1 {
  font-size: 1.3em;
  margin: 0 0.6em;
}

.brandTitle > h3 {
  color: #3595f5;
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;

  width: 100%;
  padding: 0.5em 0.7em;
}

.brandList {
  display: none;
  background: #fff;
  width: 13.5em;
  height: 100%;
  position: fixed;
  top: 0;
  list-style: none;
  padding: 2em;
  margin: 2em 0 0 -1em;
}

.brandListItem {
  font-size: 1.5em;
  padding: 2em 0;
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;

  transition: all 0.2s linear;
}

.brandListItem:hover {
  color: #3595f5;
  border-top: 1px solid #3595f5;
  border-bottom: 1px solid #3595f5;
}

.inputBrand {
  appearance: none;
  -webkit-appearance: none;
}

.brandTitle ~ input:checked ~ .brandList {
  display: block;
  height: 100%;
}

.productsContainer {
  display: grid;
  grid-auto-flow: row;
}

@media screen and (min-width: 1220px) {
  .productsContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
  }
}

.productsItem {
  width: 100%;

  text-align: center;
}
